@import "../../global.scss";

.logo {
	display: flex;
	align-items: center;
	max-width: 200px;
	margin: 0px 0px 30px 0px;
	@media (max-width: $md2+px) {
		margin: 0;
	}
	@media (max-width: $md4+px) {
		max-width: 150px;
	}
}
.logo-icon {
	max-width: 50px;
	@media (max-width: $md4+px) {
		max-width: 30px;
	}
}
.logo-text {
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 700;
	margin: 0px 0px 0px 20px;
	@media (max-width: $md4+px) {
		font-size: 14px;
		letter-spacing: 1px;
		margin: 0px 0px 0px 10px;
	}
}
