.logo {
	display: flex;
	align-items: flex-end;
	margin: 0px 0px 30px 0px;
}
.logo-icon {
	max-width: 50px;
}
.logo-text {
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 700;
	margin: 0px 0px 0px 20px;
}
