@import "../../global.scss";

.news {
	padding: 20px;
	max-width: 1800px;
	margin: 0px auto;
	height: 100%;
	@media (max-width: $md4+px) {
		padding: 20px 10px;
	}
}
.news-list {
	padding: 0;
	list-style: none;
	display: flex;
	margin: 0 -10px;
	flex-wrap: wrap;
}
.news-item {
	flex: 0 1 33.333%;
	padding: 10px;
	@media (max-width: 1600px) {
		flex: 0 1 50%;
	}
	@media (max-width: 1240px) {
		flex: 0 1 100%;
	}
	@media (max-width: $md4+px) {
		padding: 5px 10px;
	}
	a {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
.news-item-body {
	border: 1px solid #bdbdbd;
	padding: 20px;
	height: 100%;
	transition: box-shadow 0.2s;
	@media (max-width: $md4+px) {
		padding: 10px;
	}
	&:hover {
		-webkit-box-shadow: 4px 4px 8px 0px rgba(22, 46, 88, 0.2);
		-moz-box-shadow: 4px 4px 8px 0px rgba(22, 46, 88, 0.2);
		box-shadow: 4px 4px 8px 0px rgba(22, 46, 88, 0.2);
	}
}
.news-item-image-container {
	margin: 0px 0px 20px 0px;
	@media (max-width: $md4+px) {
		margin: 0px 0px 10px 0px;
	}
	img {
		max-width: 100%;
	}
}
.news-item-title {
	color: #1b1b1b;
	font-size: 24px;
	margin: 0px 0px 20px 0px;
	@media (max-width: $md4+px) {
		font-size: 16px;
		margin: 0px 0px 10px 0px;
	}
}
.news-item-description {
	font-size: 16px;
	color: #1b1b1b;
	margin: 0px 0px 20px 0px;
	flex: auto;
	@media (max-width: $md4+px) {
		font-size: 14px;
		margin: 0px 0px 20px 0px;
	}
}
.news-item-footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.news-item-provider {
	display: flex;
	align-items: center;
}
.news-item-provider-image {
	max-width: 20px;
}
.news-item-provider-name {
	font-size: 14px;
	margin: 0px 0px 0px 10px;
	color: #1b1b1b;
	@media (max-width: $md4+px) {
		font-size: 12px;
		margin: 0px 0px 0px 10px;
		max-width: 50%;
	}
}
.news-item-date {
	font-size: 14px;
	color: #1b1b1b;
	@media (max-width: $md4+px) {
		font-size: 12px;
	}
}
