.standings {
	padding: 20px;
	max-width: 1800px;
	margin: 0px auto;
	height: 100%;
}
.standings-group-list {
	display: flex;
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}
.group-item {
	flex: 0 1 50%;
	padding: 10px;
	margin: 0px 0px 30px 0px;
}
.group-item-body {
}
.group-item-header {
	background-color: #162e58;
	padding: 20px 10px;
}
.group-item-title {
	color: #fff;
	margin: 0;
	font-size: 24px;
	font-weight: 700;
}
.group-item-table {
	width: 100%;
	font-size: 16px;
	tr {
		border-bottom: 1px solid #d8d8d8;
		&:last-child {
			border: none;
		}
	}
	td {
		padding: 10px;
		width: 10%;
		text-align: center;
		&:first-child {
			width: unset;
			display: flex;
			align-items: center;
			text-align: left;
		}
		&:last-child {
			font-weight: 700;
		}
	}
}
.group-item-team-logo {
	max-width: 30px;
	margin: 0 10px;
}
